@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,700');

[data-theme="light"] {
  --main-light-green: #b3ff99;
  --main-medium-green: #8cff66;
  --main-dark-green: #2db300;
  --main-white: #ecffe6;
  --main-black: #061a00;
  --main-grey: #ccc;
  label i.fa.fa-sun-o {
    display: none;
  }
}

[data-theme="dark"] {
  --main-light-green: #4e7043;
  --main-medium-green: #458131;
  --main-dark-green: #3c931f;
  --main-black: #ecffe6;
  --main-white: black;
  --main-grey: #666;
  label i.fa.fa-moon-o {
    display: none; 
  }
  
}

body {
  color: var(--main-black);
  background-color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  width: 400px;
  height: 500px;
}

input {
  padding: 8px;
  font-size: 14px;
  width: 100px;
  border: 1px solid var(--main-grey);
  border-radius: 4px;
}

input::placeholder {
  color: var(--main-grey);
}

h2 {
  margin-left: 5%;
  margin-top: 5%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

/* Header */
.header {
  margin: -10px -10px 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-light-green);
}

.toggleViewSwitch {
  display: none;
}

.toggleViewSwitch + label {
  display: inline-block;
  cursor: pointer;
  margin-left: 5%; 
}
/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  border: 2pt solid var(--main-white);
  width: 45px;
  height: 24px;
  border-radius: 24px;
  margin-right: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-grey);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--main-white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggleSwitch:checked + .slider {
  background-color: var(--main-medium-green);
}

.toggleSwitch:focus + .slider {
  box-shadow: 0 0 1px var(--main-medium-green);
}

.toggleSwitch:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Content */
.content {
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.content input {
  width: 200px;
}

.content #highlightBtn,
button {
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--main-light-green);
  border-radius: 5px;
}

.content #highlightBtn:hover,
input[type=file]::file-selector-button:hover,
button:hover {
  background-color: var(--main-medium-green);
}

.content #highlightBtn:active,
input[type=file]::file-selector-button:active,
button:active {
  background-color: var(--main-dark-green);
}

.divsWithText {
  margin-top: 5%;
  font-size: 17px;
  font-weight: bold;
}

hr {
  border: 1px solid var(--main-light-green);
  margin: 5%;
}

/* Radio buttons */
.content .color-options {
  justify-content: center;
  margin-top: 5%;
  display: flex;
  gap: 10px;
}

.content .color-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-grey);
  cursor: pointer;
}

.content .color-options input {
  -webkit-appearance: none;
  appearance: none;
}

.content .color-options input:checked { 
  border: 2px solid var(--main-white);
}

.content .color-option.green { background-color: #b3ff99; border-color: #b3ff99;}
.content .color-option.cyan { background-color: cyan; border-color: cyan;}
.content .color-option.yellow { background-color: yellow; border-color: yellow;}
.content .color-option.pink { background-color: pink; border-color: pink;}
.content .color-option.blueviolet { background-color: blueviolet; border-color: blueviolet;}

/* Lists */
.content #newListBtn {
  margin-left: 5%;
  border-radius: 50%;
  border: var(--main-white);
  width: 35px;
  height: 34px;
  margin-bottom: 5%;
}

.content .wordListsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--main-light-green);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.content .wordListsItem .textContainer {
  font-size: 17px;
  font-weight: bold;
}

.content .wordListsItem .buttonsContainer {
  display: flex;
  gap: 10px;
}

/* List.html - adding form*/
.list-words {
  border: 2px solid var(--main-light-green);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
}

.list-wordsItem {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.word-checkbox { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;  
  padding: 0; 
  border: 0; 
  margin-left: 5%;
}

.word-checkbox + label { 
  position: relative; 
  font-size: 14px; 
  cursor: pointer; 
  display: inline-flex; 
  align-items: center; 
  height: 22px; 
  color: rgb(97, 97, 97); 

  order: -1;
}

.word-checkbox + label::before { 
  content: " "; 
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 3px; 
  width: 20px; 
  height: 20px; 
  background-color: var(--main-white); 
  border-width: 2px; 
  border-style: solid; 
  border-color: var(--main-medium-green); 
  border-radius: 2px; 
  box-shadow: none; 
}

.word-checkbox:checked + label::after { 
  content: " "; 
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+"); 
  background-repeat: no-repeat; 
  background-size: 10px 10px; 
  background-position: center center; 
  position: absolute; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-left: 0px; 
  left: 0px; 
  top: 0px; 
  text-align: center; 
  background-color: var(--main-medium-green); 
  font-size: 10px; 
  height: 22px; 
  width: 22px; 
}

.word-input {
  border: none; /* Убирает рамку у второго input */
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--main-black);
  background-color: var(--main-white);
}

.word-input:focus {
  outline: none;
}

.listFormBtn {
  margin-top: 5%;
}

/* dataForm.html - adding form*/

.radioLabel {
  align-items: center;
}

.inputBoxes {
  margin-left: 5%;
  margin-right: 5%;
}
.inputBoxes input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 5%; /* Добавляем отступ между input внутри блока */
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: var(--main-black);
  padding: 5px;
  background: var(--main-white);
  border-radius: 10px;
  border: 1px solid var(--main-black);
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--main-light-green);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--main-black);
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.guide {
  display: none;
}

#showGuide {
  margin-left: 5%;
  cursor: pointer;
  color: var(--main-black);
  transition: text-decoration 0.5s ease;
}

#showGuide:hover {
  color: var(--main-dark-green);
}