@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto:300,700');
/*
:root {
  --main-light-green: #9eff00;
  --main-medium-green:  #7ecc00;
  --main-dark-green: #5e9900;
  --main-white: white;
  --main-black: #2f4d00;
  --main-grey: #ccc;
}
*/

[data-theme="light"] {
  --main-light-green: #9eff00;
  --main-medium-green:  #7ecc00;
  --main-dark-green: #5e9900;
  --main-white: white;
  --main-black: #2f4d00;
  --main-grey: #ccc;
  label i.fa.fa-sun-o {
    display: none;
  }
}

[data-theme="dark"] {
  --main-light-green: #188100;
  --main-medium-green: #126600;
  --main-dark-green: #0c3300;
  --main-black: #ffffff;
  --main-white: #333;
  --main-grey: #666;
  label i.fa.fa-moon-o {
    display: none; 
  }
  
}

body {
  color: var(--main-black);
  background-color: var(--main-white);
  font-family: 'Roboto', sans-serif;
  width: 400px;
  height: 500px;
}

input {
  padding: 8px;
  font-size: 14px;
  width: 100px;
  border: 1px solid var(--main-grey);
  border-radius: 4px;
}

input::placeholder {
  color: var(--main-grey);
}

/* Header */
.header {
  margin: -10px -10px 0 -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-light-green);
}

.toggleViewSwitch {
  display: none;
}

.toggleViewSwitch + label {
  display: inline-block;
  cursor: pointer;
  margin-left: 5%; 
}
/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  border: 2pt solid var(--main-white);
  width: 45px;
  height: 24px;
  border-radius: 24px;
  margin-right: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-grey);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--main-white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggleSwitch:checked + .slider {
  background-color: var(--main-medium-green);
}

.toggleSwitch:focus + .slider {
  box-shadow: 0 0 1px var(--main-medium-green);
}

.toggleSwitch:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Content */
.content {
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.content input {
  width: 200px;
}

.content #highlightBtn,
button {
  cursor: pointer;
  padding: 8px 12px;
  background-color: var(--main-light-green);
}

.content #highlightBtn:hover,
button:hover {
  background-color: var(--main-medium-green);
}

.content #highlightBtn:active,
button:active {
  background-color: var(--main-dark-green);
}

.content .divsWithText {
  margin-top: 5%;
  font-size: 17px;
  font-weight: bold;
}

.content hr {
  border: 1px solid var(--main-light-green);
  margin: 5%;
}

/* Radio buttons */
.content .color-options {
  justify-content: center;
  margin-top: 5%;
  display: flex;
  gap: 10px;
}

.content .color-option {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-grey);
  cursor: pointer;
}

.content .color-options input {
   -webkit-appearance: none;
   appearance: none;
}

.content .color-options input:checked { 
  border: 2px solid var(--main-dark-green);
}

.content .color-options input { background-color: var(--main-light-green); border-color: var(--main-light-green);}
.content .color-option.cyan { background-color: cyan; border-color: cyan;}
.content .color-option.yellow { background-color: yellow; border-color: yellow;}
.content .color-option.pink { background-color: pink; border-color: pink;}
.content .color-option.black { background-color: black; border-color: black;}

/* Lists */
.content #newListBtn {
  margin-left: 5%;
  border-radius: 50%;
  border: var(--main-white);
  width: 35px;
  height: 34px;
  margin-bottom: 5%;
}

.content .wordListsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--main-light-green);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.content .wordListsItem .textContainer {
  font-size: 17px;
  font-weight: bold;
}

.content .wordListsItem .buttonsContainer {
  display: flex;
  gap: 10px;
}

/* List.html - adding form*/
.list-words {
  border: 2px solid var(--main-light-green);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
}

.list-wordsItem {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.word-checkbox {
  width: 25px;
  order: -1;
  margin-left: -20%;
}

.word-input {
  border: none; /* Убирает рамку у второго input */
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  margin-left: -25%;
  color: var(--main-black);
  background-color: var(--main-white);
}

.word-input:focus {
  outline: none;
}